body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

#chart-container {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#secondary-table-container {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#secondary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#secondary-table th, #secondary-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#secondary-table th {
    background-color: #f2f2f2;
}
